# Virtual Environment
# Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data Files (Large)
*.csv
*.csv.gz
*.fits.bz2
images_gz2/

# Model Weights
*.pth

# IDE and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/


docs/
